.wrapper {

  background-color: #262626;
  min-height: 100%; 
}

.nav-bar {

  text-align: center;
  font-size: 22px;

}

.listing .item {
  display:block;
  padding:4px 0;
  border-bottom:1px solid #d4d7d9;
  }

.listing .month {
  color:#868f93;
  margin-top:20px;
  }