---
title: 'This is my Site Title'
---
<!DOCTYPE html>
<html>
<head>
  <title>Site Title {% if page.url != '/index.html' %}| {{page.title}}{% endif %}</title>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link rel='alternate' type='application/rss+xml' title='RSS' href='SITEURLGOESHERE/blog.rss' />
  <link rel='shortcut icon' href='{{site.baseurl}}/img/favicon.ico' type='image/x-icon' />
  <link href='{{site.baseurl}}/normalize.css' rel='stylesheet' />
  <link href='{{site.baseurl}}/skeleton.css' rel='stylesheet' />
  <link href='{{site.baseurl}}/custom.css' rel='stylesheet' />
</head>
<body>
 
  <div class="wrapper">
    <div class="navigation u-full-width">
      <div class="container nav-bar">

        <h1 class='logo'><a href='{{site.baseurl}}/'><img src="{{site.baseurl}}/img/lawyer_purple_hair_small.png"</a></h1>
        <div class="nav-links u-pull-right">
          <a class='{% if page.section == "blog" %}active{% endif %}' href='{{site.baseurl}}/'>Blog</a>
          <a class='{% if page.url == "about/" %}active{% endif %}' href='{{site.baseurl}}/about'>About</a>
          <a class='{% if page.url == "about/" %}active{% endif %}' href='{{site.baseurl}}/resume'>Resume</a>
        </div>

      </div>
         
    </div>
 
    <div class="container page-content">

          {{content}}

    </div>


  </div>

  <script src='{{site.baseurl}}/site.js'></script>

</body>
